.failure-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(228, 218, 218);
    border-radius: 2rem;
    width: 95%;
    padding: 2rem 0 2rem 0;
    margin-left: 2rem;
    color: #343C6A;
  }
  @media only screen and (max-width: 991px) {
    h1 {
      
      font-style: normal;
      font-weight: 500;
      font-size: 1.5rem;
      color: #343C6A;
      text-align: center;
    }
    .failure-view {
      margin-left: 1rem;
      width: 90%;
    }
  }
  
  .try-again-button {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    color: #171f46;
    padding: 1rem;
    cursor: pointer;
    border-radius: 1rem;
    border: 1px solid rgb(228, 218, 218);
  }